<html>
  <div id="lndpg">
    <div id="lndpgContainer">
      <div id="bgContainer"></div>
      <div id="content">
        <h1>
          mhApp
        </h1>
        <div id="registerContent" ng-show="!authSwitch">
          <h3>
            Create an account:
          </h3>
          <input class="form-control loginInput" placeholder="username" type="username" ng-model="auth.username">
          <input class="form-control loginInput" placeholder="email" type="email" ng-model="auth.email">
          <input class="form-control loginInput" placeholder="password" type="password" ng-model="auth.password">
          <div class="authSwitchRow">
            <p>Already have an account?</p>
            <a ng-click="authSwitch = !authSwitch">Login</a>
          </div>
          <p>{{auth.error}}</p>

          <div id="ctaContainer">
            <span ng-click="auth.createUser()" class="ctaStyles">Register</span>
          </div>
        </div>

        <div id="loginContent" ng-show="authSwitch">
          <h3>
            Login:
          </h3>
          <input class="form-control loginInput" placeholder="email" type="email" ng-model="auth.email">
          <input class="form-control loginInput" placeholder="password" type="password" ng-model="auth.password">
          <div class="authSwitchRow">
            <p>Don't have an account yet?</p>
            <a ng-click="authSwitch = !authSwitch">Register</a>
          </div>
          <p>{{auth.error}}</p>

          <div id="ctaContainer">
            <span ng-click="auth.loginUser()" class="ctaStyles">Login</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</html>
