<html style="background-color: white;" class="page-playlists">
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="col-xs-2" id="logo">
        <a href="#/">mhApp</a>
      </div>
      <div class="col-xs-offset-8 col-xs-2 navlinks"> </div>
    </div>
  </div>
  <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
    <div id="myPlaylistsHeader">
      <h1>My Playlists</h1>
    </div>
    <hr>
    <div id="myPlaylistsContainer">
      <a href="" id="createNewPlaylist" class="col-xs-4" ng-click="playlistInput = !playlistInput">
          <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
    <div ng-show="playlistInput">
      <input id="playlistName" type="text" ng-model="playlists.name">
      <button class="playlistAddBtn btn-success"ng-click="playlists.createNewPlaylist()">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="playlists col-xs-6 col-xs-offset-3">
      <table id="playlist-data">
        <tr>
          <th>Playlists</th>
        </tr>
      </table>
    </div>
  </div>
</html>
